*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url(https://cdn.audi.cz/media/Model_Gallery_DetailImage_Image_Component/54804-511335_63592-image/dh-1539-ddf998/789ebae8/1664826611/1920x1080-as7-181001-2-oe.jpg);
    height: 820px;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: black;
    opacity: 92%;
}

.navbar .logo{
    display: inline-block;
    width: 20%; /* 300px */
    height: 100%;
}

.navbar ul{
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

.navbar ul li{
    display: inline-block; 
    margin: 0 8px;
    line-height: 80px; /* Satır yüksekliği yukarıdan aşağı */
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: white;
    color: black;
    border-radius: 10px;
}

.container .center{
     position: absolute;   
     top: 45%;
     left: 50%;
     transform: translate(-50%,-50%);
}

.center h1{
    text-align: center;
    font-family: roboto;
    color: white;
}

.center p{
    padding-top: 20px;
    color: rgb(251, 251, 251);
    font-family: roboto;
    text-align: center;
}

.buttons{
    padding-top: 20px;
    position: absolute;   
    top: 130%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.buttons button{
    height: 50px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: slategrey;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    transition: .5s;
}

.buttons a,
button:hover{
    background: #fff;
    color: black;
}


